// VARIABLES
$navColor: #98A2AF;
$sideBarColor: #68C3B9;
$sideBorder: #004A42;
$mainChatColor: #CCD1D7;



///////////////// general elements ///////////
body {
  padding-left: 0;
}
h1 {
  text-align: center;
  text-shadow: 1px 1px 2px #005CB8;
}
form {
  position: absolute;
}

.hidden {
  display: none;
}

//////////////navbar/////////////////////
.container-fluid, .nav, .navbar, .navbar-default {
  background-color: $navColor;
}

.navbar-right {
  margin: none;
}

#loginSubmit {
  margin: 5% 5% 1% 25%;
  background-color: $sideBarColor;
  width: 50%;
  color: white;
}

//////////////// HEADER ////////////////

header {
  width: 100%;
  height: 75px;
  background-color: $navColor;
}



//////////////// main classes ////////////////
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.col-md-8 {
  display: inline-block;
  background-color: $mainChatColor;
  overflow-y: scroll;
  margin: 0;
  height: auto;
  li{
    img {
      border-radius: 10em;
      width: 14em;
    }
  }
}

.messageWriter {
  position: absolute;
  margin: 45% auto 0 32%;
}

.col-md-4, .col-md-8 {
  vertical-align: top;
}


///////////////// side bar /////////////////
.col-sm-4 {
  display: inline-block;
  background-color: $sideBarColor;
  position: absolute;
  overflow-y: scroll;
  // width: 21%;
  min-height: 50em;
  margin: 0;
  border-right: 3px solid $sideBorder;
}

///////////////// Login /////////////////////
#loginContainer {
  color: white;
  border: 2px, black;
  background-color: $sideBarColor;
  position: relative;
  left:300px;
  top:150px;
  border-radius: 10px;
  border: 5px solid black;
  padding: 2%;
  a {
    float: right;
    color: black;
  }
}

#loginReturn {
  margin: 5% 5% 1% 25%;
  background-color: $sideBarColor;
  width: 50%;
  color: white;
}
