body {
  padding-left: 0; }

h1 {
  text-align: center;
  text-shadow: 1px 1px 2px #005CB8; }

form {
  position: absolute; }

.hidden {
  display: none; }

.container-fluid, .nav, .navbar, .navbar-default {
  background-color: #98A2AF; }

.navbar-right {
  margin: none; }

#loginSubmit {
  margin: 5% 5% 1% 25%;
  background-color: #68C3B9;
  width: 50%;
  color: white; }

header {
  width: 100%;
  height: 75px;
  background-color: #98A2AF; }

.container {
  width: 100%;
  margin: 0;
  padding: 0; }

.col-md-8 {
<<<<<<< HEAD
  display: inline-block;
  background-color: #CCD1D7;
  overflow-y: scroll;
  margin: 0;
  height: auto;
}

.col-md-8 li img {
  border-radius: 10em;
  width: 14em; }

.messageWriter {
  position: absolute;
  margin: 45% auto 0 32%; }

.col-md-4, .col-md-8 {
  vertical-align: top; }

.col-sm-4 {
  display: inline-block;
  background-color: #68C3B9;
  position: absolute;
  overflow-y: scroll;
  min-height: 50em;
  margin: 0;
  border-right: 3px solid #004A42; }

#loginContainer {
  color: white;
  border: 2px, black;
  background-color: #68C3B9;
  position: relative;
  left: 300px;
  top: 150px;
  border-radius: 10px;
  border: 5px solid black;
  padding: 2%; }
  #loginContainer a {
    float: right;
    color: black; }

#loginReturn {
  margin: 5% 5% 1% 25%;
  background-color: #68C3B9;
  width: 50%;
  color: white; }
<<<<<<< HEAD
=======

.navbar-right {
  margin: none; }

#loginSubmit {
  margin: 5% 5% 1% 25%;
  background-color: #005CB8;
  width: 50%;
  color: white; }

.hidden-class {
  display: none; }
>>>>>>> 9a81ba2adfdaef5af00b75d9b21281ec6f37e18a
